<ion-content>
	<ion-toolbar>
		<ion-grid>
			<ion-row class="ion-justify-content-center">
				<ion-col size="4" class="no-padding" (click)="CLOG()">
					<ion-icon size="large" name="person-outline"></ion-icon>
				</ion-col>

				<ion-col size="4" class="no-padding" (click)="CLOG()">
					<ion-icon size="large" name="film-outline"></ion-icon>
				</ion-col>

				<ion-col size="4" class="no-padding" (click)="CLOG()">
					<ion-icon size="large" name="chatbubbles-outline"></ion-icon>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
	<ion-grid>
		<ion-row>
			<ion-col>
				<img class="mar-bot" src="../../assets/joker.jpg" alt="">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<p class="movie-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					Laudantium rerum hic reiciendis minima omnis? Doloremque non rerum quidem qui esse quibusdam voluptatibus sint.
					 Eaque totam sequi, odit est obcaecati nobis.</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button shape="round" size="large" color="success" class="ion-padding-horizontal extra-mar">
					<ion-icon name="heart-outline"></ion-icon>
				</ion-button>
				<ion-button shape="round" size="large" color="tertiary" class="ion-padding-horizontal extra-mar">
					<ion-icon name="repeat-outline"></ion-icon>
				</ion-button>
				<ion-button shape="round" size="large" color="primary" class="ion-padding-horizontal extra-mar">
					<ion-icon name="close-outline"></ion-icon>
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>

	
</ion-content>
